name: python-app

on: [push]

jobs:
  build-reqs:
    runs-on: ubuntu-latest
    steps:
      - name: Install
        run: |
         python -m pip install --upgrade pip
         pip install pylint
         pip install -r requirements.txt
             
      - name: Analyse
        run: |
         pylint transform.py
         pylint main.py
         
      - name: Test
        run: |
          echo "Compiling and running tests:"
          python test.py
